table {
	table-layout:auto;
	width:auto; 
	height: auto;
  }

th {
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	padding: 15px;
	border: 1px rgb(180, 180, 180) solid;
	table-layout:auto;
  }

  tr {
	border: 1px rgb(180, 180, 180) solid;
  }
